/* SEARCH  */
#search-form {
  margin: 50px auto 50px 65px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search {
  border: none;
  outline: none;
  border-radius: 20px;
  height: 35px;
  width: 250px;
  border: 1px solid rgba(230, 230, 230, 1);
  padding-left: 50px;

}

#search-icon {
  color: rgb(146, 146, 146);
  font-size: 20px;
  margin-right: -35px;
  z-index: 1;
}


/* SEARCH  */

#tag-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  border-top: 5px solid#0a0a0a;
  border-bottom: 5px solid#0a0a0a;
}

body {
  background-color: #0a0a0a;
}

#categories-container {
  background-color: black;
  right: 0;
  top: 0;
  width: 400px;
  height: 100vh;
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#categories-inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: none;
  height: 55%;
  overflow: auto;
  justify-content: center;
  grid-template-rows: auto auto 1fr 1fr 1fr auto auto;
  grid-gap:10px;
  margin: 0 auto;
  width: 100%;
}

#categories-header {
  color: rgb(207, 207, 207);
  padding-top: 15px;
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#categories-inner > div  {
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  font-size: 13px;
  color: white;
  text-align: center;
  position: relative;
  height: 50px;
  border-radius: 5px;
  border: rgba(255, 255, 255, 0.185) 2px solid;
}

#categories-inner > div > p {
  text-decoration: none;
  font-size: 13x;
  font-weight: 700;
  color: white;
  letter-spacing: 1px;
  text-shadow: 0px 2px 2px rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.548);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition-duration: .25s;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#categories-inner > div > p:hover {
  color: #D10606;
  text-shadow: none;
}

/* CATEGORY BGs */
#ufos {
  background-repeat: no-repeat;
  background-size: cover;
}

#ghosts {
  background-repeat: no-repeat;
  background-size: cover;
}

#demons {
  background-repeat: no-repeat;
  background-size: cover;
}

/* about me */
#aboutme-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* position: absolute; */
  bottom: 10px;
}

#aboutme-links > p {
  color: rgb(207, 207, 207);
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  margin: 5px 0;
}

#aboutme-links > ul {
  display: flex;
  list-style-type: none;
  display:flex;
  flex-direction: column;
}

#aboutme-links > ul > li {
  margin: 2px 0px;
}

#aboutme-links > ul > li > a {
  color: rgb(207, 207, 207);
  font-size: 23px;
  transition-duration: .25s;
}

#aboutme-links > ul > li > a:hover {
  color: #D10606
}
