#desktop-footer {
  display: none;
}

#footer-container {
  /* margin: 0 10px 0 24px; */
  background-color: black;
  color: rgba(255, 255, 255, 1);
  width: 100%;
}

.social-link > a {
  color: rgba(255, 255, 255, 1);
  margin: 0 15px;
  font-size: 20px;
 }


#footer-container > ul {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  letter-spacing: .5px;
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  #mobile-footer {
    display: none;
  }
  #desktop-footer {
    display: block;
  }
}
