#desktop-footer {
  display: none;
}

#footer-container {
  background-color: black;
  color: rgba(255, 255, 255, 1);
  height: 200px;
  /* margin-bottom: 57px; */
  padding-bottom: 57px;
  width: 100%;
}

#footer-dev {
  border-bottom: .5px solid rgba(230, 230, 230, 1);
  margin-bottom: 28px;
  padding-bottom: 28px;
  width: 100%;
}

#footer-dev > p {
  margin: 0;
}

.social-link > a {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  margin: 0 15px;
 }

#footer-container > ul {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  height: inherit;
  letter-spacing: .5px;
  list-style: none;
  margin: 0 24px;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  #footer-container {
    background-color: transparent;
    color: rgba(41, 41, 41, 1);
  }

  .social-link > a {
    color: rgba(41, 41, 41, 1);
    font-size: 24px;
    margin: 0 30px 0 0;
   }

   #footer-dev {
    border-bottom: none;
    margin-bottom: 0;
  }

  #mobile-footer {
    display: none;
  }
  #desktop-footer {
    display: block;
  }
}
