@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto&display=swap');

#nav {
    background-color: #292929;
    color: rgb(235, 235, 235);
    display:flex;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 75px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

#nav-inner-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
    width: 70%;

}

li {
    align-self:center;

}

li > * {
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
    color: rgb(235, 235, 235);

}

.underline {
    transition-duration: .5s;
}

.focus-color:hover{
    color: rgb(184, 184, 184);
}


/* bandaid - need to find what is causing margin */
#bandaid {
    margin-left: -40px;
}

#title {
    margin-right:50px;
    font-size: 23px;
}

#signupButt {
    color: rgb(235, 235, 235);
    font-weight: bold;
    border: 1px solid rgb(235, 235, 235);
    font-size:16px;
    background-color: transparent;
    padding: 5px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: .2s;
    /* color: blue; */
}

#loginButt {
    transition-duration: .2s;
    color: #292929;
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border:solid 1px transparent;
}

#signupButt:hover
{
    background-color: rgb(235, 235, 235);
    color: #292929;

}
#loginButt:hover {
    /* border: solid 1px rgb(180, 180, 180); */
    color: rgb(78, 78, 78);
    /* background-color: #292929; */
}

#demo {
    color: rgb(235, 235, 235);
    font-weight: bold;
    border: 1px solid rgb(235, 235, 235);
    font-size:16px;
    background-color: transparent;
    padding: 5px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: .2s;
}

#demo:hover
{
    background-color: rgb(235, 235, 235);
    color: #292929;

}

#user-icon {
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    transition-duration: .2s;
    float: center;
}
#user-icon:hover {
    color: rgb(194, 194, 194)
}
