/* USER NAV */
.active {
  color: black !important;
}
#user-nav-container {
  background-color: rgba(255, 255, 255, 1);
  bottom: 0;
  height: fit-content;
  top: 0px;
  width: 100%;
}

#user-nav-container > ul {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
  bottom: -1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 57px;
  list-style: none;
  padding: 0;
  position: fixed;
  width: inherit;
}

#user-nav-home-logo {
  display: none;
}

.user-nav-btn {
  color: rgba(117, 117, 117, 1);
  font-size: 25px;
  cursor: pointer;
  transition-duration: .25s;
}

.user-nav-btn:hover {
  color: rgba(41, 41, 41, 1);
}


/* DESKTOP */
@media screen and (min-width: 1024px) {
  #user-nav-container > ul {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    border-right: .5px solid rgba(230, 230, 230, 1);
    box-shadow: none;
    height: 100vh;
    min-width: 15vw;
    padding-right: 28px;
    position: static;
  }

  #user-nav-home-logo {
    display: block;
  }

  #user-nav-home-btn {
    margin-top: 200px;
  }

  #user-nav-report-btn {
    border-top: .5px solid rgba(230, 230, 230, 1);
    margin-bottom: 235px;
    padding-top: 35px;
  }

  #user-nav-home-logo > * > img {
    height: 43px;
  }
}
