.activeclassname {
  color: green;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#nav-guest {
  width: 100%;
  left: 0;
  top: 0;
  height: 75px;
  position: absolute;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 101;
}

#nav-ul-guest {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  padding: 0;
}

.nav-li {
  list-style: none;
}

.nav-li > a {
  text-decoration: none;
  color: white;

}

.user-nav-btn {
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  margin: 13px 0;
  transition-duration: .25s;
}

.user-nav-btn:hover {
  color: #D10606;
}

/* USER NAV */
#user-nav-container {
  background-color: black;
}

#user-nav-container > ul {
  display: flex;
  align-items: center;
  list-style: none;
  width: inherit;
  background-color: red;
}

#user-nav-home-logo {
  display: none;
}

#user-nav-home-logo > a {
  color: rgb(212, 212, 212);
  user-select: none;
}

#user-nav-links {
  background-color: gray;
  display: flex;
  align-items: center;
}



/* #logoutBtn {
  border: none;
  color:white;
  font-size: 25px;
  background-color: transparent;
  cursor: pointer;
} */

/* PROFILE DROPDOWN */
#profile-dropdown {
  background-color: white;
  outline: 1px gray solid;
  position: absolute;
  bottom: 70px;
  left: 125px;
  height: 100px;
  width: 150px;
  display: flex;
  padding-left: 25px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 5px;
}

#profile-dropdown > li {
  list-style-type: none;
  margin: 5px 0;
}

#user-icon {
  outline: none;
  background-color: transparent;
  border: none;
  color: rgb(212, 212, 212);
  font-size: 25px;
  padding:0;
  cursor: pointer;

}

#user-icon:hover {
  color: #D10606;
}


#signin {
  background-color: rgb(212, 212, 212);
  border: none;
  border-radius: 99em;
  color: black;
  cursor: pointer;
  letter-spacing: 1px;
  outline: none;
  padding: 9px 16px;
  transition-duration: .2s;
  width: 100px;
}

#signup {
  background-color: rgb(212, 212, 212);
  border: none;
  border-radius: 99em;
  color: black;
  cursor: pointer;
  letter-spacing: 1px;
  margin: 0;
  outline: none;
  padding: 16px 20px;
  transition-duration: .2s;
  width:200px;
}

#signin:hover {
  background-color: #ffffff;
  color:rgb(54, 54, 54);
}

#signup:hover {
  background-color: #ffffff;;
  color:rgb(54, 54, 54);
}
