#profile-dropdown {
  background-color: #fff;
  border: 1px solid #d0d7de;
  border-radius: 6px;
  bottom: 62px;
  box-shadow: 0 8px 24px rgba(140,149,159,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  position: absolute;
  right: 10px;
}

#profile-dropdown > ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  margin: 0 24px;
  padding: 0;
}

#profile-username {
  color: rgba(41, 41, 41, 1);
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

#profile-email {
  color: rgba(117, 117, 117, 1);
  font-size: 14px;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
