@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto&display=swap');

/* remove default styling */
ul {
  margin: 0;
}

/* remove default styling */

#modal {
    /* z-index: 100; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    height: 350px;
    width: 500px;
    border-radius: 5px;
    position: absolute;
    background-color: rgba(235, 235, 235);
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .labels {
    width: 150px;
    margin-bottom: 10px;
  }

  .inputs {
    background-color: rgba(235, 235, 235);
    border: none;
    border-bottom: 1px solid;
    width: 150px;
    height: 25px;
    margin-bottom: 14px;
    padding: 5px;
    width: 250px;
  }

  .modalButts {
    background-color: #292929;
    padding: 5px;
    color: #292929;
    width: 260px;
    height: 35px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    color: rgba(235, 235, 235);

  }

  .modal-title {
    color: #292929;
    padding: 0;
    margin: 0;
    margin-top:10px;
    margin-bottom: 10px;
  }


  .loggedButts {
    color: #292929;
    font-size: 15px;
    font-weight: bold;
  }

  #logout {
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin: 0 auto;
    border: none;
    outline: none;
    border-radius: 3px;
    height: 25px;
    width: 105px;
  }

  #logout:hover {
    background-color: rgb(189, 189, 189);
  }
  .profile-dropdown {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    padding: 0;
    margin-top: 10px;

  }

  .profile-dropdown > * {
    padding: 0;
    margin-bottom: 10px;
    margin-bottom: 0 auto;

  }

  .errors{
    margin:10px 0px 20px 0px;
    list-style: none;
}
