#tags-container {
  border-bottom: .5px solid rgba(230, 230, 230, 1);
  border-top: .5px solid rgba(230, 230, 230, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 24px 0;
  width: 100vw;
}

#tags-header {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.083em;
  margin-left:28px;
}


#categories-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0  10px  0 24px;
  padding: 0;
}

#categories-list > li {
  background-color: transparent;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  font-size: 13px;
  margin: 5px;
  padding: 6px 16px;
  width: fit-content;
}



/* DESKTOP */
@media screen and (min-width: 1024px) {
  
}
