#tags-container {
  border-bottom: .5px solid rgba(230, 230, 230, 1);
  border-top: .5px solid rgba(230, 230, 230, 1);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 24px 0;
}

#tags-wrapper {
  width: inherit;
  /* margin: 0 48px; */
  /* padding: 24px 0; */
}

#tags-header {
  color: rgba(41, 41, 41, 1);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.083em;
  line-height: 16px;
  margin-left:28px;
}


#categories-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0  10px  0 24px;
  padding: 0;
}

#categories-list > li {
  background-color: transparent;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 3px;
  color: rgba(117, 117, 117, 1);
  cursor: pointer;
  font-size: 13px;
  margin: 0 8px 8px 0;
  padding: 6px 16px;
  width: fit-content;
}




/* TABLET */
@media screen and (min-width:768px) and (max-width: 1023px) {

}



/* DESKTOP */
@media screen and (min-width: 1024px) {
  /* #tags-container { */
    /* display: grid; */
    /* grid-template-columns: repeat(8, 1fr) repeat(4, minmax(48px, 1fr)); */
    /* grid-template-rows: 1fr; */
  /* } */
}
