#comments-container {
  background-color: rgba(192, 187, 181, 0.479);
}

#comments-container > ul {
  list-style: none;
  padding: 0;
}

#comments-header-container {
  display: flex;
  border-bottom: .5px solid rgba(230, 230, 230, 1);
  padding: 12px;
}

#comments-header-container > * {
  margin: 0 5px 0 0;
  font-size: 1rem;
}

#comments-header-container > h2 {
  font-weight: 500;
}

/* NOT REVISED */
#comments-ul {
  padding: 0;
  background-color: black;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  font-size: 20px;
  line-height: 30px;

}


/* CREATE COMMENT FORM */
.comment-textarea {
  resize:none;
  /* width: 500px; */
  height: 100px;
  outline: none;
  border-radius: 5px;
  background-color: rgb(207, 207, 207);
  margin-bottom: 10px;
}

#comment-btns {
  text-align: right;
  /* width: 500px; */
}

#comment-btns > * {
  border:none;
  margin: 0 5px;
  border-radius: 99em;
  padding: 5px;
  background-color: rgba(83, 83, 83, 0.349);
  cursor: pointer;
}

#submit-comment:hover  {
  background-color: rgba(83, 83, 83, 0.349);
}


/* EDITING CSS */
.comment-btns-edit {
  background-color: #171F26;
  color: rgb(212, 212, 212);
  letter-spacing: .5px;
  padding: 8px;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}


#comment-dots {
  cursor: pointer;
}


/* color: #D10606; */
