#comments-container {
  /* background-color: rgba(192, 187, 181, 0.479); */
  /* padding: 24px 24px 0 24px; */
}

#comments-container > ul {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

#comments-header-container {
  display: flex;
  border-bottom: .5px solid rgba(230, 230, 230, 1);
  padding: 12px 24px;
}

#comments-header-container > * {
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  margin: 0 5px 0 0;
}

#comments-header-container > h2 {
  font-weight: 500;
}

/* NOT REVISED */
#comments-card {
  border-bottom: .5px solid rgba(230, 230, 230, 1);
  padding: 0;
  /* background-color: black; */
  /* padding: 15px; */
  /* margin: 15px 0; */
  /* border-radius: 5px; */
  /* font-size: 20px; */
  /* line-height: 30px; */
  /* margin-bottom: 50px; */

  padding: 16px 12px;

  background-color: lightblue;
}

#comment-author-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#comment-dots {
  cursor: pointer;
}
