#article-container {
  width: 90%;
  margin: 0 auto;
  background-color: gray;
}
#header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



/* NOT REVISED */
.red {
  color: #D10606;
}
.like-btns {
  font-size: 25px;
  width: 25px;
  display: flex;
  cursor: pointer;
}

#temp-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse;
  padding-bottom: 5px;
}

#temp-container > * {
  margin-left: 15px;
}

/* LIKE BTNS */

#sighting-comp-container {
  /* width: 1050px; */
  /* margin-left: 275px; */
  min-height: 95vh;
  color: rgb(221, 221, 221);

  background-color: green;
}


#sighting-date-article {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

#article-title {
  line-height: 40px;
  font-size: 32px;
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#article-body {
  font-size: 20px;
  white-space: pre-line;
  margin: 10px 0;
  line-height: 40px;
}

#sighting-img {
  width: 100%;
  user-select: none;
}

#user-btns {
  position: relative;
  right: 0;
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}

#user-btns > * {

  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  background-color: black;
  color: rgb(212, 212, 212);
  letter-spacing: 1px;
  padding: 7px;
  font-size: 15px;
  border: none;
  width: 75px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px 15px 5px;
  transition-duration: .25s;
}

#user-btns > *:hover {
  color: #D10606;
}
