#lost-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  background-color: gray;
  /* padding: 0 24px; */

  /* font-family: medium-marketing-display-font,Georgia,Cambria,"Times New Roman",Times,serif!important; */
}

#lost-container > ul {
  background-color: linen;
}

#lost-header {
  font-size: 92px!important;
}

#lost-link {
  font-size: 34px!important;
}

#lost-container > img {
  width: inherit;
}
