#sightings-container {
  margin-top: 20px;
  width: 1050px;
  margin-left: 275px;
  margin-top: 50px;
  min-height: 95vh;
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

#sightings-inner {
  border-top: 1px solid rgba(0, 0, 0, 0.13);
  width: 725px;
  margin: 0 auto;
}

#sighting-card {
  background-color: black;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  padding: 15px;
  width: 700px;
  margin: 0 auto 20px auto;
  display: flex;
  text-decoration: none;
  color: rgb(221, 221, 221);
  border-radius: 5px;
}

#sighting-card > div > li {
  list-style-type: none;
}

#sighting-form {
  height: 750px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 30%;
  top: 10%;
}


#sighting-date {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
}

 /* #sighting-date-article {
  display: flex;
  align-items: center;
} */

#sighting-date > * {
  margin: 0 5px;
}

/* NEW? */
.card-r1 {
  display: flex;
}

.card-r1 > * {
  margin: 0 5px;
}

.card-img {
  height: 200px;
  width: 200px;
  align-self: center;
  margin-left: auto;
  object-fit: cover;
}

.card-story {
  display: -webkit-box;
  width: 500px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.link {
  text-decoration: none;
}

.link > li {
  list-style-type: none;
}

.category-link {
  background-color: rgba(83, 83, 83, 0.349);
  width: 75px;
  text-align: center;
  border-radius: 50px;
  padding: 2px;
  color: rgb(221, 221, 221);
}

.card-text, #no-results {
  color: rgb(221, 221, 221);
}
