/* nav {
  width: 100vw;
  left: 0;
  top: 0;
  position: absolute;

}

#nav-ul {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  padding: 0;
}

.nav-li {
  list-style: none;
}

.nav-li > a {
  text-decoration: none;
} */



/* USER NAV */
#user-nav {
  background-color: red;
  /* width: 100vw; */
  left: 0;
  top: 0;
  width: 275px;
  height: 100vh;
  position: absolute;
}
