#content-grid {
  display: grid;
  /* gap: 100px; */
  grid-template-columns: repeat(8, 1fr) repeat(4, minmax(48px, 1fr));
  background-color: gray;
}

#col-1 {
  background-color: blueviolet;
  grid-column-start: 1;
  grid-column-end: 2;
}

#col-2 {
  background-color: blue;
  grid-column-start: 2;
  grid-column-end: 11;
}


#col-3 {
  background-color: green;
  grid-column-start: 11;
  grid-column-end: 13;
}
